<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="/home/" class="waves-effect">
                        <i class="ti-home"></i><span class="badge badge-pill badge-primary float-right">Latest</span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">User Feature</li>
                <li>
                    <a href="/scanbarcode/" class="waves-effect">
                        <i class="mdi mdi-qrcode-plus"></i><span class="badge badge-pill badge-success float-right">New</span>
                        <span>Scan QR / Barcode</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-wallet-plus-outline"></i>
                        <span> Billing </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/transaction/"><i class="mdi mdi-history"></i> Transaction</a></li>
                        <li><a href="/topup/"><i class="mdi mdi-wallet-plus-outline"></i> Add Funds</a></li>
                        <li><a href="/topup/history"><i class="mdi mdi-history"></i> Add Funds History</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/log/merchant/" class="waves-effect">
                        <i class="dripicons-blog"></i>
                        <span>Log Entry</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>