{% extends 'merchant_layout/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">Monitoring Transaction</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Cashierless</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Merchants</a></li>
                <li class="breadcrumb-item active">Monitoring</li>
            </ol>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Items on cart</h4>
                <div class="table-responsive">
                    <table id="livetable" class="table table-hover table-centered table-nowrap mb-0">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body" id="livebarcode">
            </div>
        </div>

    </div>
</div>
<!-- end row -->
{% endblock content %}
{% block javascript %}
<script>
var load_barcode = () => {
    $('#livebarcode').load('/merchant/monitoring/pay/');
    $('#livetable').load('/merchant/monitoring/item/');
}
$(document).ready(function(){
    load_barcode()
    document.getElementById('bodynya').className = 'sidebar-enable vertical-collpsed'
})
setInterval(function(){
    load_barcode()
} , 1000)
</script>
{% endblock javascript %}