{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- start page title -->
<div class="row align-items-center">
    <div class="col-sm-6">
        <div class="page-title-box">
            <h4 class="font-size-18">Transaction</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Cashierless</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Transaction</a></li>
                <li class="breadcrumb-item active">History</li>
            </ol>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Transaction History</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-centered table-nowrap mb-0">
                        <thead>
                            <tr>
                                <th scope="col">(#) Record</th>
                                <th scope="col">Merchant</th>
                                <th scope="col">Date Time</th>
                                <th scope="col">Amount</th>
                                <th scope="col" colspan="2">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for for_trx in trx %}
                            <tr>
                                <th scope="row">#{{ for_trx.record }}</th>
                                <td>{{ for_trx.merchants }}</td>
                                <td>{{ for_trx.time }}</td>
                                <td>Rp. {{ for_trx.total|intcomma }}</td>
                                <td><span class="badge badge-{{ for_trx.is_success|yesno:'success,warning,danger' }}">{{ for_trx.is_success|yesno:'Success,Pending,Failed' }}</span></td>
                                <td>
                                    <div>
                                        <div>
                                            <a class="btn btn-primary btn-sm waves-effect waves-light" href="/transaction/{{ for_trx.id }}/">Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
{% endblock content %}