<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="/merchant/home/" class="waves-effect">
                        <i class="ti-home"></i><span class="badge badge-pill badge-primary float-right">Latest</span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">Merchant Feature</li>
                <li>
                    <a href="/merchant/monitoring/" class="waves-effect">
                        <i class="typcn typcn-device-desktop"></i><span class="badge badge-pill badge-success float-right">New</span>
                        <span>Monitoring</span>
                    </a>
                </li>
                <li>
                    <a href="/merchant/transaction/" class="waves-effect">
                        <i class="mdi mdi-history"></i><span class="badge badge-pill badge-success float-right">New</span>
                        <span>Transaction</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-wallet-plus-outline"></i>
                        <span> Billing </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/merchant/withdraw/"><i class="mdi mdi-wallet-outline"></i> Withdraw</a></li>
                        <li><a href="/merchant/withdraw/history/"><i class="mdi mdi-history"></i> Withdraw History</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ti-package"></i>
                        <span> Item </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/merchant/item/"> Management</a></li>
                        <li><a href="/merchant/item/QR/"> QR Management</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/merchant/log/" class="waves-effect">
                        <i class="dripicons-blog"></i>
                        <span>Log Entry</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>